<h1>Index Page for Blog Posts</h1>

  <% @posts.each do |post| %>
  <h4><a href="/posts/<%= post.id %>"><%= post.content %></a></h4>
  <p><%= post.content %></p>
  <p><%= post.recipe %></p>
  <p>By <%= post.user.name %></p>
  <br><br> 
<% end %> 